{
"zip" : "{{ tsm_registration.zip }}",
"country" : "{{ tsm_registration.country }}",
"city" : "{{ tsm_registration.city }}",
"last_name" : "{{ tsm_registration.last_name }}",
"industry" : "{{ tsm_registration.industry }}",
"eula" : "{{ tsm_registration.eula }}",
"title" : "{{ tsm_registration.title }}",
"phone" : "{{ tsm_registration.phone }}",
"company" : "{{ tsm_registration.company }}",
"state" : "{{ tsm_registration.state }}",
"department" : "{{ tsm_registration.department }}",
"first_name" : "{{ tsm_registration.first_name }}",
"email" : "{{ tsm_registration.email }}"
}
